.ProertyRating{
    display: flex;
    width: 70%;
    overflow-x: scroll;
    gap: 25px;
    margin-top:30px;
    scrollbar-width: none;
    margin-bottom: 25px;
}::-webkit-scrollbar {
    display: none;
  }

@media screen and (max-width: 868px) {
    .ProertyRating{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        gap: 25px;
        margin-top:30px;
        scrollbar-width: none;
        margin-bottom: 25px;
    }   
}