#carouselExampleCaptions{
    position: absolute; 
    top: 50;
    left: 0;
}
.carousel-item {
    
    img {
        height: 60vh;
        object-fit:cover;
        filter: brightness(0.20);
    }
}
#carouselExampleCaptions{
    position: relative;
    top: -45px;
}
.carousel-indicators{
    display:flex;
}
.carousel-control-prev-icon{
   margin-top:40vh;
}
.carousel-control-next-icon{
    margin-top:40vh;
}
