@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

p {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.P-card {
  display: flex;
  flex-direction: column;
  /* width: 50vw;  */
  max-width: 425px; 
   width: 25%; 
   max-height: 60vh;
  height: 578px;
  border-radius: 16px;
  border: 2px solid #e3e3e3; 
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(172, 172, 172, 0.25);
  position: fixed !important; 
  top: 20% ;
  right: 10%;
}
.P-card2{
  display: flex;
  flex-direction: column;
  /* width:30vw;  */
  max-width: 425px; 
   width: 25%; 
  height: 578px;
  border-radius: 16px;
  border: 2px solid #e3e3e3; 
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(172, 172, 172, 0.25);
  position: fixed !important; 
  top: 40% ;
  right: 10%;
  display: none !important;
}

.P-card-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  padding-top: 24px;
}

.P-card-top > h3 {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
}

.P-card-top > p {
  color: #000;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 600;
}

.P-card-top > p > span {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.P-card-mid {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgba(197, 197, 197, 0.70);
  box-shadow: 0px 4px 7px 0px rgba(154, 154, 154, 0.25);
  margin: 24px;
}

.P-card-mid-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(185, 185, 185, 0.20);
  padding: 24px 40px;
}

.P-card-mid-row > p {
  color: #100501;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  margin-bottom: 0;
}

.P-card-mid-row > span {
  color: #100501;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
}

.P-card-mid-row-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(185, 185, 185, 0.20);
  padding: 24px 40px;
  border-radius: 8px;
  border: 1px solid rgba(22, 22, 22, 0.70);
  box-shadow: 0px 4px 7px 0px rgba(154, 154, 154, 0.25);
}

.P-card-mid-row-selected > p {
  color: #100501;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
}

.P-card-mid-row-selected > div {
  color: #100501;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.P-card-mid-row-selected > div > svg {
  margin-left: 20px;
}

.P-card-btm {
  border-radius: 16px;
  border: 2px solid #e3e3e3;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(172, 172, 172, 0.25);
  display: flex;
  flex-direction: column;
}

.P-card-btm-row {
  display: flex;
  justify-content: space-between;
  margin: 0px 12px;
  border-bottom: 1px solid #848484;
  padding: 22px 33px;
}

.P-card-btm-row > p {
  color: #000;
  font-size: 22px;
  font-family: DM Sans;
  display: flex;
  text-align: center;
  align-items: center;
}

.P-card-btm-row > p > span {
  font-size: 32px;
}

.P-card-btm-row-ctrl {
  display: flex;
  gap: 36px;
  align-items: center;
}

#P-card-btm-row-last {
  border: none;
}

.reserve-card-btn {
  border-radius: 8px;
  background: #f1450e;
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  padding: 13px 12px;
  margin: 0pc 24px;
  border: none;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .P-card {
    display: none !important;
    width: 90%; /* Adjust the width percentage as needed */
    max-width: 100%;
    right: auto;
    left: 5%;
  }

  /* Adjust other styles as needed */
}

/* Add more media queries for different screen sizes if necessary */
