@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.acc-container{
    /* width: 100vw; */
    /* height: 100vh; */
    margin: 0px 144px;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 19px;

}
.acc-layout-container{
    display: flex;

}
#acc-title{
color: #000;
font-size: 32px;
font-family: DM Sans;
font-weight: 500;
line-height: 19px;
margin: 39px 0px;
margin-top: 100px;
}
.acc-left{
    margin-left:64px;
    flex-grow: 1;
}
.acc-Main{
}