.navbar{
  height: 100px;
  min-width: 100vw;
  max-width: 100vw;
  background-color: #FFF;
  border-bottom:1px solid  #E2E2E2;
  z-index: 9999;
  position: fixed;
  top: 0;
  
  padding:0px 80px;
  display: flex;
  align-items: center;
  text-align: center;
  
  .navbar-logo{
    
      color: #F1450E;
      font-family: Roboto;
      font-size: 29px;
      font-style: normal;
      font-weight: 800;
      line-height: 18px;
      align-self: center;
    
  }

  .navbar-search-cont{
    display: flex;

    .navbar-search-bar{
      display: flex;
      border-radius: 8px;
      border: 0.5px solid #F1450E;
      background: #FFF;
      box-shadow: 0px 3px 4px 0px rgba(163, 159, 159, 0.25), 0px -2px 4px 0px rgba(207, 207, 207, 0.25);
      padding: 8px 32px;
      align-items: center;
      color: #717171;
      
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 200;
      line-height: 22px;
      p{
        color: #222;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        padding: 0px 40px;
      }
      
    }
    align-items: center;
    gap: 20px;
    .navbar-search-filter-btn{
      display: flex;

      background-color: red;
      // height: 20px;
      // width:20px;
      border-radius: 8px;
      border: 0.4px solid #F1450E;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(163, 159, 159, 0.25);
      padding: 12px 16px;
    }
    .navbar-search-bar-career{
      border-radius: 8px;
      background: #F1450E;
      color: #FFF;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      padding: 11px 22px;
    }

  }

  .navbar-accoutn-cont{
    display: flex;
    .navbar-acc-btn{
      border-radius: 8px;
      border: 1px solid rgba(241, 69, 14, 0.20);
      padding: 10px 13px;
      color: black;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      align-items: center;
      color: #F1450E;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      
      span{
        color: #000000;
      }

    }

  }
  .navbar-acc-profile-cont{
    display: flex;
    // background-color: red;
    align-items: center;
    // margin-left:0 24px;
    padding: 8px 10px;
    border-radius: 20px;
    img{
      width: 30px ;
      height: 30px ;
      border-radius: 50%;
    }



  }
  
}

.nav-mobile-cont{
  display: none;
}
.nav-mobile{
  display: none;
}
@media screen  and (max-width: 1350px){
  .nav-mobile-cont{
    display: none;
  }
  .nav-mobile{
    display: none;
  }
  .navbar-accoutn-cont{
    display: flex;
    .navbar-acc-btn{
      display: none;

    }

  }
  .navbar-search-filter-btn{
      
    display: none;
  }
  .navbar-search-bar-career{
    display: none;
  }
}

@media screen  and (max-width: 900px){
  .navbar{
    display: none;
  }
  .nav-mobile-cont{
    display: flex;
    width: 100vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    margin: 0px 10px;
    background-color: #fff;
    padding: 19px 0px;
  .nav-mobile{
    display: flex;
    // height: 50px;
    width: 95vw;
    border-radius: 90px;
    border: 0.5px solid #F1450E;
    background: #FFF;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
    margin-right: 14px;
    // margin-left: 14px;
    height: 50px;


    justify-content: space-between;
    gap: 35px;
    align-items: center;

    .nav-search{
      margin-left: 13px;
    }
    .nav-mobile-center{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p{
        color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
      }
      span{
        color: #737373;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 22px;
gap: 4px;
svg{
  margin: 0px 4px;
}
      }
    }
    .nav-filtre{
      margin-right: 13px;

    }
  }
  }
}




.non-scrolled-nav{
  height: 100px;
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  left: 25%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .non-scroll-nav-cont{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 50vw;
    background-color: #fff  ;
    border: #F1450E 1px solid;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
