.PRcard{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
border: 1px solid #F1450E;
background: #FFF;
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
padding: 20px 30px;
/* width: 257px; */
flex-shrink: 1;

}
.PRcard-row1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    margin-bottom: 21px;
}
.PRcard-row1>img{
    width: 48px;
    height: 48px;
    border-radius:50%;
}
.PRcard-row1>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.PRcard-row1>div>h5{
    color: #000;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 700;
    margin: 0;
    padding:0;
}
.PRcard-row1>div>p{
    color: #575757;
    font-size: 18px;
    font-family: DM Sans;
    padding: 0;
    margin: 0;
    
    
}
.PRcard-row2{
    color: #575757;
    font-size: 18px;
    font-family: DM Sans;
}
.PRcard-row2>p{
    margin-bottom:20px ;
}
.PRcard-row2>div{
    display: flex;
    gap:16px;
    flex-grow: 1;
}
.PRcard-row2>div>img{
    width: 25px;
    height: 25px;
}

@media screen and (max-width:870px) {
    
    .PRcard-row1>div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 20px;
    }
    .PRcard-row1>div>h5{
        color: #000;
        font-size: 1em;
        font-family: DM Sans;
        font-weight: 700;
        margin: 0;
        padding:0;
    }
    .PRcard-row1>div>p{
        color: #575757;
        font-size: 1em;
        font-family: DM Sans;
        padding: 0;
        margin: 0;
        
        
    }

    .PRcard-row2{
        color: #575757;
        font-size: 1em;
        font-family: DM Sans;
    }
    .PRcard-row2>p{
        margin-bottom:5px ;
    }
    .PRcard-row2>div{
        display: flex;
        gap:16px;
        flex-grow: 1;
    }
    .PRcard-row2>div>img{
        width: 25px;
        height: 25px;
    }
}